img {
    width: 30%;
    /* margin: 1.6666666%; */
    margin: calc(10%/6);
}

nav {
    font-family: 'Zen Dots', cursive;
    font-size: 4em;
    text-transform: uppercase;
    border-bottom: 2px solid #f1f1f1;
    width: 40%;
    margin-left: calc(10%/6);
    padding: .7em 0;
}
.simp {
    font-family: 'Zen Dots', cursive;
    font-size: 2em;
    text-transform: uppercase;
    border-bottom: 1.5px solid #f1f1f1;
    width: 40%;
    margin-left: calc(10%/6);
    padding: .4em 0;
}

/* 30 + 30 + 30

10% */